<div class="row">
    <div class="col-sm-12 col-md-6">
        <ng-multiselect-dropdown 
            [placeholder]="'Select Location'" 
            [settings]="dropdownSettings" 
            [data]="dropdownList"
            [(ngModel)]="selectedItems" 
            (onSelect)="onItemSelect($event)" 
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown>
    </div>

    <div class="col-sm-12 col-md-2">
        <input size="10" placeholder="Start" matInput [matDatepicker]="myDatePicker"
                [min]="minDate" [max]="maxDate" disabled>
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #myDatePicker startView="multi-year"></mat-datepicker>
    </div>

    <!--<div class="col-sm-12 col-md-2">
        <input size="10" placeholder="End" matInput [matDatepicker]="myDatePicker">
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
    </div>-->

    <div class="col-sm-12 col-md-2">
        <button (click)="buttonClick()" type="button" class="btn btn-success">Generar</button>
    </div>
</div>
