<div class="container mt-5">
    <h1>Graficos Trade</h1>
    <hr>

    <!-- Div del componente de Filtros / Busqueda-->
    <div class="row">
        <div>
            <!-- [] El padre Da y () El Padre Recibe -->
            <app-filtro 
                [configuracion]="getConfig()" 
                (emitter)="setConfig($event)"
                [ciudades]="getCiudades()"
                (emitter2)="setCiudades($event)"
            ></app-filtro>
        </div>   <br/><br/><br/><hr>

        <!-- Div de la grafica-->
        <div class="col-sm-12 col-md-6">
            <app-gprincipal></app-gprincipal>
        </div>

        <!--Div de la tabla de metricos-->
        <div class="col-sm-12 col-md-6">
            <app-tabla-metrico 
                [configuracion]="getConfig()"
                [ciudades]="getCiudades()"
            ></app-tabla-metrico>
        </div>

    </div>
</div>
