<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" class="la-cube-transition" [fullScreen]="false">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<button type="button" name="" id="" class="btn btn-primary btn-block">
    clic para buscar o consultar alv
</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getList(); let i=index">
            <th scope="row">{{ i }}</th>
            <td>{{ item }}</td>
            <td>{{ item }}</td>
        </tr>
    </tbody>
</table>